<table>
	<thead>
	<th>Year</th>
	<th>Month</th>
	<th>Day</th>
	<th>Total Logins</th>
	</thead>
	<tbody>
		{{#each main}}
			<tr>
				<td>{{dataMap.Year}}</td>
				<td>{{dataMap.Month}}</td>
				<td>{{dataMap.Day}}</td>
				<td style="padding-left:30px;">{{dataMap.TotalUsers}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>

